[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
seaborn = "*"
scipy = "*"
matplotlib = "*"
pandas = "==1.5.0"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
